<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Correo</title>
</head>
<body>
    <div style="overflow: hidden;width: 100%; ">
        <div style="text-align: center; float: center; width: 80%;">
           
                <h2 style="background-color: #f5b116; margin-top: -5px;">¡Hola, {{user_name}}!</h2>
                <br>
                <p style="background-color: rgba(255, 255, 255, 0.4);"> 
                A petición tuya tu contraseña ha cambiado. <br> Los datos son los siguientes:
                <br><br>
                <strong>Usuario:</strong> {{documento}} <br>
                <strong>Contraseña: </strong> {{contra}}
                <br><br>
                Recuerda que esta es tu contraseña de ahora en adelante, cuando entres al sistema no se te olvide cambiarla presionando en tu nombre, llenando los dos últimos campos ("nueva contraseña" y "confirmar contraseña") y por último en guardar, para poder actualizarla.
                <br>
                Equipo Novost ;)
            </p>
        </div>
    </div>
</body>
</html>