<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Correo</title>
</head>
<body>
    <div>
        <div>Novost</div>
        <div>
            <p>
                A peticion tuya, tu contraseña ha cambiado. Los datos son los siguientes: 
                <br>
                <strong>Usuario:</strong> {{documento}} 
                <br> 
                <strong>Contraseña:</strong> {{contra}}
                <br>
                Se autoasigna como contraseña tu documento de identidad por cuestiones de facilidad. 
                <br>
                Recuerda que cuando accedas al sistema igualmente debes actualizar tu contraseña.
                <br>
                Novost - {{subject}}

            </p>
        </div>
    </div>
</body>
</html>